body{
    padding: 40px;
}

h1{
    /* padding: 20px; */
    color: #ff9100;
    margin-bottom: 30px;
}

.login-box{
    padding: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 5px;
    margin-bottom: 40px;
}
#transaction_area{
    display: none;
}
.status{
    padding: 20px;
    color: white;
    margin: 0 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.deposit{
    background-color: #4126ee;
}
.withdraw{
    background-color: #e77142;
}
.balance{
    background-color: #e9a933;
}